<%= link_to "#{t("new")}#{Mission.model_name.human}", new_mission_path%>
<table>
    <thead>
    <tr>
        <th><%= Mission.human_attribute_name(:name)%></th>
        <th><%= Mission.human_attribute_name(:start_at)%><%= link_to t("sort"), url_for(action: :index, sort: :start_at)%></th>
        <th><%= Mission.human_attribute_name(:end_at)%><%= link_to t("sort"), url_for(action: :index, sort: :end_at)%></th>
        <th><%= Mission.human_attribute_name(:priority)%></th>
        <th><%= Mission.human_attribute_name(:status)%></th>
        <th><%= Mission.human_attribute_name(:created_at)%><%= link_to t("sort"), url_for(action: :index, sort: :created_at)%></th>
        <th><%= t("action")%></th>
    </tr>
    </thead>
    <tbody>
        <% @missions.each do |mission|%>
        <tr>
            <td>
                <%= mission.name%>
            </td>
            <td>
                <%= mission.start_at&.strftime("%F %R")%>
            </td>
            <td>
                <%= mission.end_at&.strftime("%F %R")%>
            </td>
            
            <td>
                <%= mission.priority%>
            </td>
            <td>
                <%= mission.status%>
            </td>
            <td>
                <%= mission.created_at.strftime("%F %R")%>
            </td>
            <td>
            <%= link_to t("show"), mission_path(mission)%>
            <%= link_to t("edit"), edit_mission_path(mission)%>
            <%= link_to t("destroy"), mission_path(mission), method: :delete, data: {confirm: t("confirm")}%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>