<%= link_to "#{t("new")}#{Mission.model_name.human}", new_mission_path%>
<table>
    <thead>
    <tr>
        <th><%= Mission.human_attribute_name(:name)%></th>
        <th><%= t("action")%></th>
    </tr>
    </thead>
    <tbody>
        <% @missions.each do |mission|%>
        <tr>
            <td>
            <%= mission.name%>
            </td>
            <td>
            <%= link_to t("show"), mission_path(mission)%>
            <%= link_to t("edit"), edit_mission_path(mission)%>
            <%= link_to t("destroy"), mission_path(mission), method: :delete, data: {confirm: t("confirm")}%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>