<%= link_to t("index"), missions_path%>
<p>
<%= Mission.human_attribute_name(:name)%>：<%= @mission.name %>
</p>
<p>
<%= Mission.human_attribute_name(:content)%>：<%= @mission.content %>
</p>
<%= link_to t("edit"), edit_mission_path(@mission)%>
<%= link_to t("destroy"), mission_path(@mission), method: :delete, data: {confirm: t("confirm")}%>