<div class="card">
<table class="table">
    <thead>
    <tr>
        <th><%= User.model_name.human%></th>
        <th><%= Mission.human_attribute_name(:name)%></th>
        <th>
            <%= sort_link(@q, :start_at, Mission.human_attribute_name(:start_at), default_order: :desc) %>
        </th>
        <th>
            <%= sort_link(@q, :end_at, Mission.human_attribute_name(:end_at), default_order: :desc) %>
        </th>
        <th>
            <%= sort_link(@q, :priority, Mission.human_attribute_name(:priority), default_order: :asc) %>
        </th>
        <th><%= Mission.human_attribute_name(:status)%></th>
        <th>
            <%= sort_link(@q, :created_at, Mission.human_attribute_name(:created_at), default_order: :desc) %>
        </th>
        <th><%= t("action")%></th>
    </tr>
    </thead>
    <tbody>
        <% @missions.each do |mission|%>
        <tr>
            <td>
                <%= mission.user.name%>
            </td>
            <td>
                <%= mission.name%>
            </td>
            <td>
                <%= mission.start_at&.strftime("%F %R")%>
            </td>
            <td>
                <%= mission.end_at&.strftime("%F %R")%>
            </td>
            
            <td>
                <%= Mission.human_attribute_name("priority/#{mission.priority}")%>
            </td>
            <td>
                <%= Mission.human_attribute_name("status/#{mission.status}")%>
            </td>
            <td>
                <%= mission.created_at.strftime("%F %R")%>
            </td>
            <td>
            <%= link_to t("show"), mission_path(mission), class: "btn btn-info", data: {toggle: :tooltip, title: t("show")}%>
            <%= link_to t("edit"), edit_mission_path(mission), class: "btn btn-warning", data: {toggle: :tooltip, title: t("edit")}%>
            <%= link_to t("destroy"), mission_path(mission), method: :delete, data: {confirm: t("confirm")}, class: "btn btn-danger", data: {toggle: :tooltip, title: t("destroy")}%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @missions %>
</div>