<%= search_form_for(@q, class: "my-3") do |f| %>
<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="form-group">
                    <%= f.label :name_cont %>
                    <%= f.search_field :name_cont, class: "form-control" %>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <%= f.label :status_eq %>
                    <%= f.select :status_eq, Mission.statuses.keys.map{|k,v| [Mission.human_attribute_name(:"status/#{k}"),v]}, {include_blank: t("all")}, class: "form-control" %>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <%= f.label :priority_eq %>
                    <%= f.select :priority_eq, Mission.priorities.keys.map{|k,v| [Mission.human_attribute_name(:"priority/#{k}"),v]}, {include_blank: t("all")}, class: "form-control" %>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <label for="">&nbsp;</label>
                    <%= f.button t("search"), class: "btn btn-success btn-sm form-control"  %>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>
<div class="card">
    <div class="card-header">
        <%= Mission.model_name.human%><%= t("index")%>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><%= User.model_name.human%></th>
            <th><%= Mission.human_attribute_name(:name)%></th>
            <th>
                <%= sort_link(@q, :start_at, Mission.human_attribute_name(:start_at), default_order: :desc) %>
            </th>
            <th>
                <%= sort_link(@q, :end_at, Mission.human_attribute_name(:end_at), default_order: :desc) %>
            </th>
            <th>
                <%= sort_link(@q, :priority, Mission.human_attribute_name(:priority), default_order: :asc) %>
            </th>
            <th><%= Mission.human_attribute_name(:status)%></th>
            <th>
                <%= sort_link(@q, :created_at, Mission.human_attribute_name(:created_at), default_order: :desc) %>
            </th>
            <th><%= t("action")%></th>
        </tr>
        </thead>
        <tbody>
            <% @missions.each do |mission|%>
            <tr>
                <td>
                    <%= mission.user.name%>
                </td>
                <td>
                    <%= mission.name%>
                </td>
                <td>
                    <%= mission.start_at&.strftime("%F %R")%>
                </td>
                <td>
                    <%= mission.end_at&.strftime("%F %R")%>
                </td>
                
                <td>
                    <%= Mission.human_attribute_name("priority/#{mission.priority}")%>
                </td>
                <td>
                    <%= Mission.human_attribute_name("status/#{mission.status}")%>
                </td>
                <td>
                    <%= mission.created_at.strftime("%F %R")%>
                </td>
                <td>
                <%= link_to t("show"), mission_path(mission), class: "btn btn-info", data: {toggle: :tooltip, title: t("show")}%>
                <%= link_to t("edit"), edit_mission_path(mission), class: "btn btn-warning", data: {toggle: :tooltip, title: t("edit")}%>
                <%= link_to t("destroy"), mission_path(mission), method: :delete, data: {confirm: t("confirm")}, class: "btn btn-danger", data: {toggle: :tooltip, title: t("destroy")}%>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @missions %>
</div>
